.movies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 8px;
  margin: 20px;
  width: 300px;
  height: 400px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  transition: all .3s;

  &:hover {
    box-shadow: 2px 2px white, 4px 4px #C76637;
    top: -5px;
    left: -5px;
  }

  .img {
    border-radius: 8px 8px 0 0;
    width: 300px;
    height: 250px;
    object-fit: fill;
    background-color: darkgrey;
  }
}

.stars {
  display: flex;
  position: absolute;
  bottom: 0;

  .star {
    width: 25px;
    height: 25px;
    background-color: rgb(160, 160, 160);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin-right: 7px;

    // &:hover {
    //   background: yellow;
    // }
    
    &Active {
      @extend .star;
      background-color: yellow;
    }
  }
}

.likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-bottom: 30px;

  &Amount {
    font-size: 20px;
    padding: 12px;
    border-radius: 50%;
    background-color: aquamarine;
  }
}

.likeButton {
  padding: 2.3px 12px;
  height: 24px;
  border: none;
  background: url('./img/like.svg');

  &:hover {
    background: url('./img/like-hover.svg');
  }
}

.dislikeButton {
  @extend .likeButton;
  transform: rotate(180deg);
}

.title {
  margin: 5px 0;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: crimson;
    text-shadow:
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 15px 15px rgba(0,0,0,.15);
  }
}

