.shortInfo {
  align-self: baseline;
  position: relative;
  min-width: 160px;
  padding-bottom: 30px;
}

.fullInfo {
  width: 100%;
}

.mainImg {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
}