.stars {
  display: flex;
  position: absolute;
  bottom: 0;

  .star {
    width: 25px;
    height: 25px;
    background-color: rgb(160, 160, 160);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin-right: 7px;

    &Active {
      @extend .star;
      background-color: yellow;
    }
  }
}