.login {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.form {
  &Title {
    text-align: center;
    color:#000;
    margin-bottom: 30px;
  }

  button {
    margin: 0 125px;
    padding: 7px 20px;
    border: none;
    background: #9DC2FD;
  }

  .register {
    margin-top: 30px;
  }

  .incorrect {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: -10px;
    max-width: 320px;
  }

  label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin-bottom: 30px;
  }

  input {
    font-size: 16px;
    background-color: bisque;
    border: 1px solid #818080;
    margin-top: 10px;
    padding: 5px;
    transition: all .5s;

    &:focus {
      background-color: #fff;
      outline: none;
      border: 1px solid #A5D400;
    }
  }
}